# Azure Blob Storage
AZURE_BLOB_SERVICE_URL=https://<account-name>.blob.core.windows.net
AZURE_CONTAINER_NAME=<container-name>
AZURE_SAS_TOKEN=sv=...&ss=...&srt=...&sp=...&se=...&st=...&spr=https&sig=...

# SendGrid
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxx
SENDGRID_FROM_EMAIL=notifications@yourdomain.com
SENDGRID_FROM_NAME=RRT Notifications

# Twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_FROM_PHONE=+15551234567

# Polling interval in milliseconds (default: 5 minutes)
POLL_INTERVAL_MS=300000
